<h3><form action="/posts/:id" method="post">
  <h3>Current Blog Name: <%= @post.name %></h3>
  <h3>Current Blog Content: <%= @post.content %></h3>
  <label for="name">New Blog Name: </label>
  <input type="text" name="name">
  <label for="content">New Blog Content: </label>
  <input type="text" name="content">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form></h3>
